<div class="row">
  <div id="homeContainer" class="container-fluid">
    <div class="header">
      <br />
      <!--Knapp for å registrere nye turer. Blir sendt til egen side kalt feks registrere-->
      <!--Knapp for å logge ut av admin-siden-->
      <div class="buttons">
        <button class="btn btn-danger" onclick="loggUt()">Logg ut</button>
        <a href="opprettTur.component.html" class="btn btn-primary">Registrer ny tur</a>
      </div>
      <br />
      <h3>Alle turene:</h3>
      <div id="endreTurene" class="table-responsive"></div>
    </div>
   
  </div>
</div>
